
  *{
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: transparent;
outline:none;

    
  }
  body{
    background: radial-gradient(circle, white 0%,black 100%);
    color:rgba(11, 0, 0, 0.9);
    text-align:center
    }
  .page {
  transition: opacity 0.5s  ease;
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
  h1{
    margin:25px auto;
    font-size:40px;
    color: white;
    text-shadow: 5px -5px 25px black;
 
  }
  #formular{
   
    background: rgba(255,255,255,0.2);
  
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border:2px solid black;
    border-radius:20px;
    max-width:70%;
    margin: 75px  auto;

    height:70vh;
   box-shadow: 5px -5px 25px black;
  }
  #form{ 
    
    display: flex;
    flex-direction: column;
    gap:1rem;
    
     /* Espace entre les champs */
}
  input{
    width:75%;
    height:2.5rem;
    margin:8px auto;
    border:2px solid black;
    border-radius:10px;
    transition:1s;
    font-size:20px


  }
  
  input::placeholder{
    padding-left: 15px;
    font-size:15px;
    transition: 1s;
}

input:focus 
input:active{
      background:rgba(62, 60, 60, 0.9)  ;
    color:white;
    border:2px solid white;
    border-radius:10px;
    width:72%;
   box-shadow: 5px -5px 25px black;


  }
 input:hover::placeholder,
input:focus ::placeholder,
input:active::placeholder{

      font-size:16px

}

  #btn{
    width:60%;
    height:50px;
    margin:30px auto;
    border-radius:10px;
    border:2px solid white;
    background:#007bff;
    color:white;
    font-size:20px;
    transition:1s;
 

  }
  #btn:hover,
  #btn:focus,
  #btn:active {
    width:58%;
    height:45px;

  }

  .link{
   font-size:20px;
  text-shadow: 5px -5px 25px rgb(248, 246, 246);
    margin-top: 15px;
  }
  #link_login{
    color:black;
    text-shadow: 5px -5px 25px rgb(252, 250, 250);
    
  }
  .erreur{
    color:red;
    font-size: 18px;
    font-weight: 500;
  }
  
  
  
  